.card {
    //FUNTIONALITY
    perspective: 150rem; //a larger value decreases the intensity of the perspective change. A smaller value makes a crazy effect
    -moz-perspective: 150rem;
    //perspective allows for the card to appear as if it were coming towards the user on screen.
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;

        position: absolute; //these atributes stack the cards on top of one another
        top: 0;
        left: 0;
        width: 100%;

        backface-visibility: hidden; //hides the back part of an element
        border-radius: 3px;
        overflow: hidden; //this ensures our image retains the border radius
        box-shadow: $shadow-1;

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
    

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    //.card:hover .card__side--front {  }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }
    //.card:hover .card__side--back {  }

    //FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen; //doesnt work on IE or Edge browsers
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); //doesnt work on IE or Edge browsers
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; 

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
        }

        &--3 {
            background-image:  linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
        z-index: 1;
    }

    &__heading-span // this code makes the background box around the type
     {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone; // compatibility for chrome
        box-decoration-break: clone; // fixes the shortening of the box from the line break

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
    }

        &__details {

            ul {
                list-style: none;
                width: 80%; // this is for the line break underneath the text
                margin: 0 auto; // centers text/element

                li {
                    text-align: center;
                    font-size: 1.5rem;
                    padding: 1rem;

                    &:not(:last-child) {
                        border-bottom: 1px solid $color-grey-light-2;
                    }
                }
            }
        }

    //BACK SIDE STYLING
    &__cta {
        @include anchor-center;
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}