.composition{
    position: relative;

    &__photo {
        width: 55%; // makes image flexile to scale with viewport
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4); // hella modern boxshadow
        border-radius: $radius-2; // hella modern border radius
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary; // works just like border except can work with outline-offset to give the border padding around the image
            transform: scale(1.05) translateY(-.5rem); // super modern animation.
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20; // ensures the hovered image appears on top
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95)
    }
    // compostion:hover composition__photo:not(:hover)
    // when the composition is hovered add these elements to the __photo(s) not hovered
}